.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 100px;
  z-index: 100;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.logo {
  max-height: 96px;
}

.title-group {
  margin-left: 24px;
}

.title-group i {
  margin-right: 10px;
}