.home .title {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color: white;
  line-height: 1.2;
}

.home .subtitle {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  line-height: 1.2;
}

.home {
  background-color: #8b00dd;
}

.home-picture {
  width: 100%;
  margin-top: 16px;
}

.picture {
  width: 100%;
  border-radius: 4px;
}