<mat-card>

  <div class="card-title">
    <mat-card-title>
      Update product
    </mat-card-title>
  </div>

  <form>
    <mat-form-field>
      <input matInput placeholder="Name" name="name" [(ngModel)]="product.name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Price" name="price" [(ngModel)]="product.price" />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="updateProduct()" class="update">
    Update
  </button>

  <button mat-raised-button (click)="cancel()" class="cancel">
    Cancel
  </button>
</mat-card>